
li a:hover{
    background-color: rgb(189, 187, 187);
}

img{
    /*width: 1500px;*/
    width: 100%;
    max-height: 100%;

}
.container{
    width: 45%;
}
.content{
    margin-top: 10%;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
.description{
    font-family: 'Times New Roman', Times, serif;
    color: black;
}