img { 
    width: 100%;
    max-height: 100%;
}

#flexbox{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin-top: 5em;
}

#header {
    border-bottom: 1px solid black;
}